*.gem
.bundle
.ruby-version
.jekyll-cache
.sass-cache
_site
Gemfile.lock
node_modules
Gemfile
_config.yml
_convert/INPUT/*
_convert/OUTPUT/*
.DS_Store
assets/images/pictorial/0104_kochen_web-1.png
assets/images/pictorial/0104_kochen_web-2.png
.nova/Configuration.json
